In [1]:
import pandas as pd

In [2]:
df_addresses=pd.read_csv("../data/blockchair_litecoin_addresses_latest.tsv",sep='\t')

In [3]:
df_addresses.head(5)

                                       address          balance
0           MQd1fJwqBJvwLuyhr17PhEFx1swiqDbPQS  453750982816078
1  ltc1qr07zu594qf63xm7l7x6pu3a2v39m2z6hh5pp4t  220500910261148
2           MLj1bgnNs8iAmNxhZNnrymQaAZNqnXXV3E  103308199999497
3           MS56eJAupdvN5bYo6ythw784qahCpTzZ5V   87821780613257
4           MQSs17ECe51kqhkFPQY98wiyPvGuK5iCB6   74500009667851

In [4]:
df_addresses.columns

Index(['address', 'balance'], dtype='object')